@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@300&display=swap');

.App{
  font-family: 'Quicksand', sans-serif;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #001f3f;
  color: #7FDBFF;
  height: 100%;
  width: 100%;
  position: fixed;
  left: 0;
  top: 0;
}

.h1 {
  font-size: larger;
}